<p id="notice"><%= notice %></p>

<h1>Payouts</h1>

<table>
  <thead>
    <tr>
      <th>Bet</th>
      <th>Amount</th>
      <th>Rank</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payouts.each do |payout| %>
      <tr>
        <td><%= payout.bet_id %></td>
        <td><%= payout.amount %></td>
        <td><%= payout.rank %></td>
        <td><%= link_to 'Show', payout %></td>
        <td><%= link_to 'Edit', edit_payout_path(payout) %></td>
        <td><%= link_to 'Destroy', payout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payout', new_payout_path %>
